
body {
    background-color: #FF5733;
    font-family: serif;
    color: #d5f4e6;
    text-align: center;
}

h1 {
    color: #87CEEB;
}

h3 {
    color: #87CEEB;
}

h2 {
    color: #87CEEB;
}

ul {
    display: inline-block;
}

a {
    display: inline-block;
}

.centred-content {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}